.body{
    margin-left: 300px;
    margin-right: 300px;
    margin-top:100px;
    margin-bottom:50px;
    font-family:'Plus Jakarta Sans';
}

.nombre {
    display: inline;
    height: 10px;
    width: 5px;
    background-color: midnightblue;
    color: white;
    font-weight: 900;
    border-radius: 5px;
}

.boton{
    position:relative;
    background-color:transparent;
    color:darkgrey;
    border:0px solid red;
    font-family:'Plus Jakarta Sans';
    font-weight:600;
}

.boton:hover{
    color:midnightblue;
}

.avatar{
    position:absolute;
    height:40px;
    width:40px;
    margin:30px;
}

.textuNotify{
    position:relative;
    display:inline;
    left:85px;
    top:30px;
    line-height:10px;
}

.botonnome {
    position: relative;
    background-color: transparent;
    color: black;
    border: 0px solid red;
    font-family: 'Plus Jakarta Sans';
    font-weight: 800;
    font-size:15px;
}

    .botonnome:hover {
        color: midnightblue;
    }

.botonnome1 {
    position: relative;
    background-color: transparent;
    color: grey;
    border: 0px solid red;
    font-family: 'Plus Jakarta Sans';
    font-weight: 800;
    font-size: 15px;
}

    .botonnome1:hover {
        color: midnightblue;
    }

.botonText {
    position: relative;
    background-color: white;
    color: grey;
    border: 1px solid darkgray;
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    font-size: 15px;
    border-radius:5px;
    height:80px;
    width:500px;
    top:30px;
    left:85px;
    text-align:left;
}

.botonText:hover{
    background-color:aliceblue;
    border:0px solid red;
}

.post {
    position: absolute;
    height: 40px;
    left: 550px;
    bottom: 1px;

}
.post:hover{
    border:1px solid lightgray;
    border-radius:5px;
}

.cerc{
    position:absolute;
    height:10px;
    width:10px;
    border-radius:50%;
    background-color:salmon;
}